:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-background-color: #2f303a;
  --primary-white-color: #ffffff;
  --third-bacground-color: #f5f4fa;
  --primary-black-color: #000000;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
}

/* 
header:
icon-phone
icon-mail

Main:
icon-antenna
icon-clock
icon-diagram
icon-astronaut

icon-Logo1
icon-Logo2
icon-Logo3
icon-Logo4
icon-Logo5
icon-Logo6

Footer:
icon-instagram
icon-Twitter
icon-Facebook
icon-linkedin
*/

/* global styles */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

.container {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

/* header styles */
header {
  background-color: var(--primary-white-color);
  max-height: 80px;
  border-bottom: 1px solid #f5f5f5;
}

.container.header {
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  margin-right: 93px;
}

.logo-part1 {
  color: var(--accent-text-color);
}

.logo-part2 {
  color: var(--primary-black-color);
}

.nav-list {
  display: flex;
}

.nav-link {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.nav-link.current {
  color: var(--accent-text-color);
}

.nav-link.current::after {
  content: '';
  background-color: var(--accent-text-color);
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.contacts li:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.contact-icon {
  margin-right: 10px;
  border: none;
}

/* Main styles */

/* Hero section styles */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  line-height: 1.36;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-h1 {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}

.hero-button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--accent-text-color);
  min-height: 50px;
  min-width: 216px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  padding: 40px;
}

.modal-form {
width: 100%;
}

.modal-label-list li {
  margin-bottom: 10px;
}

.modal-label-list p {
  margin-bottom: 4px;
}

.modal h1 {
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 12px;
}

.modal-label span {
  position: relative;
}

.modal-label p {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
}

.modal-input {
  width: 100%;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
height: 40px;
padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-label:hover {
  fill: var(--accent-text-color);
}

.modal-label:hover > span > .modal-input{
  outline: 1px solid var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.modal-input:focus + .modal-svg {
  fill: var(--accent-text-color);
}

.modal-input:focus {
  outline: 1px solid var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.checkbox {
  appearance: none;
}

.modal-svg {
position: absolute;
left: 12px;
bottom: 0px;
}

.modal-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-comment::placeholder {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
  display: flex;
  position: relative;
}

.checkbox-modal-svg {
  position: absolute;
  left: 12px;
  bottom: 5px;
}

.checked {
  visibility: hidden;
}

.checkbox:checked + .checkbox-modal-svg{
  visibility: hidden;
}

.checkbox:checked ~ .checkbox-modal-svg.checked{
  visibility: visible;
}


.modal-checkbox-label p {
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
margin-right: 11px;
margin-left: auto;
}

.modal-checkbox-label a{
  text-decoration: underline;
  color: var(--accent-text-color);
  
}

.modal-checkbox-label:hover {
  cursor: pointer;
  fill: var(--accent-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .submit-button {
  padding: 10px 55px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.close-modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.close-btn:hover > .close-modal-svg,
.close-btn:focus > .close-modal-svg{
  fill: var(--accent-text-color)
}

/* Qalities section styles */
.qalities .container {
  display: flex;
}

.qalities-list {
  display: flex;
}

.section.qalities {
  padding-bottom: 0;
}

.qalities h2 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.qalities-item {
  max-width: 270px;
  margin-bottom: 0;
}

.qalities-item:not(:last-child) {
  margin-right: 30px;
}

.qalities h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.qalities p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

.qalities-icon-container {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--third-bacground-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.qalities-icon {
  display: flex;
}

/* Doing section styles */

.doing-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.doing-item {
  position: relative;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
}

.doing-about-container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.doing-about-container h2 {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* Team section styles */

.team-section {
  background-color: var(--third-bacground-color);
}

.team-item-about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.team-item {
  background-color: var(--primary-white-color);
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-item p {
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:not(.last) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
  fill: var(--primary-white-color);
}

.social-links {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}

/* Clients section styles */

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list {
  display: flex;
}

.client-link:not(.last) {
  margin-right: 30px;
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

/* footer styles */

footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo-part2 {
  color: var(--primary-white-color);
}

address {
  width: 230px;
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--address-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
}
.map-link {
  color: var(--primary-white-color);
}

footer p {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-right: auto;
}

.footer-socials {
  margin-top: 12px;
  margin-right: 93px;
  margin-left: 70px;
  margin-bottom: auto;
}

.footer-social-links {
  display: flex;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:not(.last) {
  margin-right: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.pre-subscribe-container {
  margin-top: 12px; 

}

.subscribe-container {
  display: flex;
  padding-left: 0;
}

.subscribe-container:hover > .subscribe-input {
  border-color: var(--accent-text-color);
}

.subscribe-input:focus {
  border-color: var(--accent-text-color);
}

.submit-button {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}

footer .submit-button {
  padding: 10px 28px;
}

.submit-button svg {
  margin-left: 10px;
}

.subscribe-input {
  background: inherit;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--primary-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio styles */
.portfolio {
  background-color: var(--primary-white-color);
  padding-bottom: 64px;
}

.section.portfolio .container {
  padding-left: 0;
  padding-right: 0;
}

.portfolio h1 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-button {
  font-family: inherit;
  background-color: var(--third-bacground-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.last-filter-button {
  margin: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.project-list li {
  margin-bottom: 30px;
}

.project-list li:not(:nth-child(3n + 3)) {
  margin-right: 26px;
}

.project-item {
  border: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.overflow-container {
  display: flex;
  position: absolute;
  width: 370px;
  height: 294px;
  bottom: 107px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  z-index: 1;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-white-color);
}

.project-item:hover .overflow-container {
  transform: translateY(0);
}

.project-item-about {
  position: relative;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  z-index: 2;
}

.project-item:hover a,
.project-item:focus a {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio p {
  line-height: 1.67;
  letter-spacing: 0.03em;
}

.project-item-about p {
  color: var(--primary-text-color);
}
